aiomysql==0.0.21
asgiref==3.4.1
certifi==2021.5.30
click==8.0.1
fastapi==0.67.0
greenlet==1.1.0
h11==0.12.0
pydantic==1.8.2
PyMySQL==0.9.3
SQLAlchemy==1.4.22
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
